<!DOCTYPE html>
<html>
<head>
  <title>Frontline</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>HHH Web Calendar</h1>
    <p> HHH Web Calendar: letting you know what's happening on campus:) </p>
  </header>

  <section>
    <h2>About Us</h2>
    <p> Created by : Andrew Harriger, Chirstopher Hernandez, and Raymond Hernandez.</p>
    <p> Created for students by students. </p>
  </section>

  // section for viewing events
  <section>
    <h2>going to an event?</h2>
    <button onclick="contactUs()">Click here for CSUF's calendar:</button>
  </section>

  // section for posting events
  <section> 
    <h3>Posting an event?</h3>
    <button onclick="postEvent()">Click here to post an event:</button>
  </section>

  <script src="script.js"></script>
</body>
</html>
